* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$blackColorText: #253E46;

@font-face {
  font-family: "NeueMachina";
  src: url("~@/assets/fonts/NeueMachina-Light.woff") format("woff"),
  url("~@/assets/fonts/NeueMachina-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  font-weight: 500;
  src: url("~@/assets/fonts/NeueMachina-Regular.woff") format("woff"),
  url("~@/assets/fonts/NeueMachina-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "NeueMachina";
  font-weight: 600;
  src: url("~@/assets/fonts/NeueMachina-Medium.woff") format("woff"),
  url("~@/assets/fonts/NeueMachina-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "SKPrimo";
  font-weight: 500;
  src: url("~@/assets/fonts/SKPrimo-Regular.woff") format("woff"),
  url("~@/assets/fonts/SKPrimo-Regular.woff2") format("woff2");
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "NeueMachina", sans-serif;
  color: $blackColorText;
}

.h2 {
  font-family: "SKPrimo", serif;
  grid-area: 1/1/2/2;
  width: fit-content;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 52px;
}

.h2--primary {
  color: $blackColorText;
  padding: 15px 0 0 25px;
  border-bottom: 1px solid rgba(209, 217, 221, 0.5);
}

.h2--secondary {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 58px;
  color: rgba(209, 217, 221, 0.5);
}

.h3__additional-page {
  font-family: "NeueMachina", sans-serif;
  color: $blackColorText;
  font-size: 30px;
  margin-bottom: 30px;
}

.additional-page__steps-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.btn {
  border: 1px solid;
  padding: 15px 25px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 900px) {

  .h2 {
    font-size: 18px;
  }

  .h2--primary {
    padding: 15px 0 0 15px
  }

  .h3__additional-page {
    margin: 0 auto 30px;
  }

  .additional-page__steps-list {
    flex-direction: column;
    align-items: center;
  }

}

/*checkbox*/

.wrap {
  position: relative;
}

.check-label {
  position: relative;
  align-self: flex-start;
  margin-bottom: 40px;
}

.check-sign {
  position: absolute;
  background: $blackColorText;
}

.check-text {
  position: absolute;
  top: 0;
  left: 42px;
  width: 200px;
}

#check-part-1 {
  width: 0;
  opacity: 0;
  height: 3px;
  transform:rotate(45deg);
  transform-origin: 0 10px;
  left: -3px;
  top: 4px;
}

#check-part-2 {
  width: 0;
  height: 3px;
  transform: rotate(-45deg);
  left: 13px;
  top: 10px;
  opacity: 0;
  transform-origin: 0 10px;
}

input#check {
  display: none;
}

input#check:checked + .wrap #check-part-2 {
  opacity: 1;
  width: 12px;
  transition: width .1s .1s , opacity .05s .1s;
}

input#check:checked + .wrap #check-part-1 {
  opacity: 1;
  width: 8px;
  transition: width .1s, opacity .05s;
}

label {
  width: 20px;
  height: 20px;
  border: 1px solid $blackColorText;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  transition: background .1s;
}

label:hover {
  background: #ffffff;
}

